@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  overflow-y: scroll;
  scrollbar-width: thin;
}

/* Webkit 内核浏览器 */
.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #24242455;
  border-radius: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1.5rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}


h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

p,
li {
  margin: 1rem 0;
  line-height: 1.9rem;
}

.blog li {
  font-style: italic;
  text-indent: 1rem;
}

.home p {
  color: #626262;
}