@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  overflow-y: scroll;
  scrollbar-width: thin;
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #24242455;
  border-radius: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1.5rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}


h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

p,
li {
  margin: 1rem 0;
  line-height: 1.9rem;
}

.blog li {
  font-style: italic;
  text-indent: 1rem;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

@media (prefers-color-scheme: dark) {
  p>a:hover {
    text-decoration: underline;
    color: skyblue;
  }
}